@font-face {
    font-family: 'Galano';
    src: url('../fonts/first_font/GalanoGrotesque-Bold.ttf');
}
@font-face {
    font-family: 'Varela';
    src: url('../fonts/second_fond/VarelaRound-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

header {
    .container {
        h1 {
            font-family: 'Galano';
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            font-weight: 400;
            color: red;
        }
        img {
            width: 40%;
            margin: 0 auto;
            display: block;
            box-shadow: 2px 2px 8px 6px rgb(175, 175, 175);
            margin-bottom: 50px;
        }
    }
}

.main {
    background-color: #eee;
    .container {
        background-color: rgb(218, 218, 218);
        .text {
            width: 70%;
            margin: 0 auto;
            padding: 30px 0;
            
            p {
                font-family: 'Varela';
                font-size: 38px;
                margin-bottom: 45px;
            }
        }
        .video {
            iframe {
                width: 100%;
                height: 550px;
            }
        }
    }
}

.wrapper {
    background-color: #eee;
    .container {
        width: 60%;
        margin: 0 auto;
        h2 {
            font-family: 'Galano';
            font-size: 38px;
            padding-top: 30px;
            margin-bottom: 40px;
        }
        span {
            font-family: 'Varela';
            font-size: 28px;
            margin-bottom: 35px;
            display: block;
        }
        p {
            font-family: 'Varela';
            font-size: 28px;
            padding-bottom: 30px;
        }
    }
}

.features {
    background-color: #eee;
    .container {
        width: 60%;
        margin: 0 auto;
        h3 {
            font-family: 'Galano';
            color: #5B8E7D;
            font-size: 33px;
            margin-bottom: 30px;
        }
        ol {
            margin-bottom: 0;
            li {
                font-family: 'Varela';
                font-size: 26px;
            }
        }
    }
}

.guarantee {
    background-color: #eee;
    .container {
        width: 60%;
        margin: 0 auto;
        svg {
            width: 80px;
            display: block;
            margin: 0 auto;
            padding-top: 60px;
            margin-bottom: 40px;
            fill: #5B8E7D;
        }
        h3 {
            font-family: 'Galano';
            font-size: 34px;
            padding-bottom: 40px;
        }
        p {
            font-family: 'Varela';
            font-size: 28px;
            margin-bottom: 40px;
        }
    }
}
.form {
    background-color: #eee;
    .container {
        width: 60%;
        margin: 0 auto;
        svg {
            width: 100px;
            margin: 0 auto;
            display: block;
            fill: #5B8E7D;
            margin-bottom: 30px;
        }
        h3 {
            font-family: 'Galano';
            font-size: 34px;
            padding-bottom: 40px;
        }
        form {
            width: 100%;
            label {
                display: block;
                margin-bottom: 6px;
                font-family: 'Varela';
                font-size: 18px;
            }
            input {
                display: block;
                width: 100%;
                margin-bottom: 20px;
                outline: none;
                font-family: 'Varela';
                font-size: 20px;
                padding: 10px 12px;
            }
            button {
                width: 100%;
                outline: none;
                border: none;
                background-color: #5B8E7D;
                border-radius: 30px;
                padding: 10px;
                margin-bottom: 40px;
                font-family: 'Galano';
                font-weight: 400;
                color: white;
                font-size: 20px;
            }
        }
        a {
            text-align: center;
            padding-bottom: 30px;
            text-decoration: none;
            color: black;
            display: block;
            font-family: 'Varela';
        }
    }
}